@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
    border: white;
}

.masthead {
    background-color:gray;
    background:
    overflow: hidden;   
}

body {
    background-color:black;
    font-family: Garamond, serif;
}

h1 {
    color: white;
    font-family:inherit;
}

p {
    color:white 
}

em {
    font-style:italic
}

strong {
    font-weight:bold      
}

.logo { 
    height: 4.5rem ;
    width: auto;
    margin: .5rem 5%;
    
}

footer {
    background-color:gray;
}

li {
    font-style:normal;
    color: white;

}

