@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

.masthead {
    background-color:black;
    overflow: hidden; 
}

.logo { 
    height: 4.5rem ;
    width: auto;
    margin: .5rem 5%;
    
}

body {
     margin: 0;
    padding:5%;
    background-color:black;
    font-family: Garamond, serif;
}

h1 {
    color: white;
    font-family:inherit;
}

p {
    color:white 
}

em {
    font-style:italic
}

strong {
    font-weight:bold        
}

header {
    Background-color: gray;
    
}
footer {
    ;
}

li {
    font-style:normal;
    color: white;
}

ul {
    font-family:Futura, sans-serif
     padding-left: 1%;
}

figure {
    color:white;

}

figcaption }
    font size: .75rem 
    margin: .5rem 0;
}